// Start Designing The Website Footer
footer
  div(class='container')
    div(class='footer-boxs')
      div(class='footer-box')
        h2 #[i(class='fas fa-comment-alt')] #[span buddy]
        p a buddypress community wordpress theme
      div(class='footer-box')
        h3 Recent Posts
        a(href='#') Phosfluorescently procrastinate standards
        a(href='#') Dynamically provide access to interoperable
        a(href='#') Uniquely promote resource-leveling platforms
        a(href='#') Professionally drive ubiquitous technology
        a(href='#') Holisticly evolve highly efficient
      div(class='footer-box')
        h3 Categories
        a(href='#') Business #[span (5)]
        a(href='#') Gaming #[span (2)]
        a(href='#') Media #[span (2)]
        a(href='#') Movies #[span (1)]
        a(href='#') Technology #[span (1)]
      div(class='footer-box')
        h3 About Us
        p Collaboratively orchestrate intermandated human capital with cross-platform infrastructures. Appropriately monetize innovative catalysts for change for front-end niches.
  div(class='copyrights')
    div(class='container')
      p Copyright &copy; 2020 #[a(href='#') Mina Karam Ghoprial]. All rights reserved.
// Finish Designing The Website Footer