// Start Designing The Website Head
header
  div(class='container')
    div(class='top-bar')
      div(class='top-bar-container')
        div(class='logo')
          a(href='#')
            i(class='fas fa-comment-alt')
            span buddy
        nav
          ul(class='nav-bar')
            li(class='nav-bar-item')
              a(href='#') Home
            li(class='nav-bar-item') 
              a(href='#' class='drop-down-link')
                span Features
                i(class='drop-down-icon fas fa-sort-down')
              ul(class='drop-down-list feature')
                li(class='feature-item') 
                  a(href='#') Galleries/Portfolios
                li(class='feature-item') 
                  a(href='#') Shortcodes
                li(class='feature-item') 
                  a(href='#') Styling
            li(class='nav-bar-item') 
              a(href='#' class='drop-down-link')
                span Pages
                i(class='drop-down-icon fas fa-sort-down')
              ul(class='drop-down-list pages')
                li(class='pages-item') 
                  a(href='#') Page With Left
                li(class='pages-item') 
                  a(href='#') SidebarPage With Right 
                li(class='pages-item') 
                  a(href='#') SidebarPage With Two Sidebars
                li(class='pages-item') 
                  a(href='#') Fullwidth Page
                li(class='pages-item') 
                  a(href='#') 404 Error Page
                li(class='pages-item') 
                  a(href='#') Attachment Page
                li(class='pages-item') 
                  a(href='#') Password Protected Page
                li(class='pages-item') 
                  a(href='#') Blank Page
                li(class='pages-item') 
                  a(href='#' class='drop-down-link') 
                    span Level 2 Menu
                    i(class='drop-down-icon fas fa-sort-down')
                  ul(class='drop-down-list level3')
                    li 
                      a(href='#') Level 3 Menu
                    li 
                      a(href='#') Level 3 Menu
            li(class='nav-bar-item') 
              a(href='#' class='drop-down-link')
                span BuddyPress
                i(class='drop-down-icon fas fa-sort-down')
              ul(class='drop-down-list buddy-press')
                li(class='buddy-press-item') 
                  a(href='#') Activity
                li(class='buddy-press-item') 
                  a(href='#') Members
                li(class='buddy-press-item') 
                  a(href='#') Groups
                li(class='buddy-press-item') 
                  a(href='#') Forums
            li(class='nav-bar-item') 
              a(href='#') Blog
            li(class='nav-bar-item') 
              a(href='#') Contact
        div(class='mobile-btn')
          div(class='line')
          div(class='line')
          div(class='line')
        div(class='head-form')
          a(href='#' class='green-button') Login
          a(href='#' class='blue-button') Sign Up
// Finish Designing The Website Head