// Start Designing The Features Section
section(class='buddy')
  div(class='container')
    div(class='buddy-boxs')
      div(class='buddy-first-box')
        div(class='swiper')
          div(class='swiper-container')
            div(class='swiper-wrapper')
              div(class='swiper-slide')
                div(class='swiper-slide-box')
                  div(class='swiper-slide-box-image')
                    img(src='images/swiper-1.jpg' alt='Swiper Image')
                  div(class='swiper-slide-box-text')
                    p Welcome to the community!
              div(class='swiper-slide')
                div(class='swiper-slide-box')
                  div(class='swiper-slide-box-image')
                    img(src='images/swiper-2.jpg' alt='Swiper Image')
              div(class='swiper-slide')
                div(class='swiper-slide-box')
                  div(class='swiper-slide-box-image')
                    img(src='images/swiper-3.jpg' alt='Swiper Image')
            div(class='swiper-pagination')
        div(class='latest-activity')
          div(class='title')
            h3 Latest Activity
          div(class='latest-activity-boxs')
            div(class='latest-activity-box')
              div(class='latest-activity-box-image')
                img(src='images/latest-activity-1.jpg' alt='Latest Activity Image')
              div(class='latest-activity-box-text')
                a(href='#') Michellie Jones 
                span posted an update in the group 
                a(href='#') The Social Network
                div(class='date')
                  a(href='#') 4 years, 10 months ago
                p Perfection is achieved, not when there is nothing more to add, but when there is nothing left to take away. (Antoine de Saint Exupery)
            div(class='latest-activity-box')
              div(class='latest-activity-box-image')
                img(src='images/latest-activity-2.jpg' alt='Latest Activity Image')
              div(class='latest-activity-box-text')
                a(href='#') Monta Ellis 
                span posted an update in the group 
                a(href='#') The Tourist
                div(class='date')
                  a(href='#') 4 years, 10 months ago
                p Victory goes to the player who makes the next-to-last mistake. (Chessmaster Savielly Grigorievitch Tartakower)
            div(class='latest-activity-box')
              div(class='latest-activity-box-image')
                img(src='images/latest-activity-3.jpg' alt='Latest Activity Image')
              div(class='latest-activity-box-text')
                a(href='#') Picabo Street 
                span posted an update in the group 
                a(href='#') Monsters, Inc.
                div(class='date')
                  a(href='#') 4 years, 10 months ago
                p I think ‘Hail to the Chief’ has a nice ring to it. (John F. Kennedywhen asked what is his favorite song)
                p(class='italic') Efficiently evisculate ubiquitous alignments through scalable web-readiness. Phosfluorescently restore resource-leveling growth strategies for multifunctional best practices.
                p Energistically enhance real-time synergy for future-proof…
                  a(href='#') [Read more]
            div(class='latest-activity-box')
              div(class='latest-activity-box-image')
                img(src='images/latest-activity-4.jpg' alt='Latest Activity Image')
              div(class='latest-activity-box-text')
                a(href='#') MaliVai Washington 
                span posted an update 
                div(class='date')
                  a(href='#') 4 years, 10 months ago
                p Try to learn something about everything and everything about something. (Thomas Henry Huxley)
            div(class='latest-activity-box')
              div(class='latest-activity-box-image')
                img(src='images/latest-activity-5.jpg' alt='Latest Activity Image')
              div(class='latest-activity-box-text')
                a(href='#') Seamus 
                span posted an update 
                div(class='date')
                  a(href='#') 4 years, 10 months ago
                p To love oneself is the beginning of a lifelong romance (Oscar Wilde)
            div(class='latest-activity-box hide')
              div(class='latest-activity-box-image')
                img(src='images/latest-activity-1.jpg' alt='Latest Activity Image')
              div(class='latest-activity-box-text')
                a(href='#') Michellie Jones 
                span posted an update in the group 
                a(href='#') The Social Network
                div(class='date')
                  a(href='#') 4 years, 10 months ago
                p Perfection is achieved, not when there is nothing more to add, but when there is nothing left to take away. (Antoine de Saint Exupery)
            div(class='latest-activity-box hide')
              div(class='latest-activity-box-image')
                img(src='images/latest-activity-2.jpg' alt='Latest Activity Image')
              div(class='latest-activity-box-text')
                a(href='#') Monta Ellis 
                span posted an update in the group 
                a(href='#') The Tourist
                div(class='date')
                  a(href='#') 4 years, 10 months ago
                p Victory goes to the player who makes the next-to-last mistake. (Chessmaster Savielly Grigorievitch Tartakower)
            div(class='latest-activity-box hide')
              div(class='latest-activity-box-image')
                img(src='images/latest-activity-3.jpg' alt='Latest Activity Image')
              div(class='latest-activity-box-text')
                a(href='#') Picabo Street 
                span posted an update in the group 
                a(href='#') Monsters, Inc.
                div(class='date')
                  a(href='#') 4 years, 10 months ago
                p I think ‘Hail to the Chief’ has a nice ring to it. (John F. Kennedywhen asked what is his favorite song)
                p(class='italic') Efficiently evisculate ubiquitous alignments through scalable web-readiness. Phosfluorescently restore resource-leveling growth strategies for multifunctional best practices.
                p Energistically enhance real-time synergy for future-proof…
                  a(href='#') [Read more]
            div(class='latest-activity-box hide')
              div(class='latest-activity-box-image')
                img(src='images/latest-activity-4.jpg' alt='Latest Activity Image')
              div(class='latest-activity-box-text')
                a(href='#') MaliVai Washington 
                span posted an update 
                div(class='date')
                  a(href='#') 4 years, 10 months ago
                p Try to learn something about everything and everything about something. (Thomas Henry Huxley)
            div(class='latest-activity-box hide')
              div(class='latest-activity-box-image')
                img(src='images/latest-activity-5.jpg' alt='Latest Activity Image')
              div(class='latest-activity-box-text')
                a(href='#') Seamus 
                span posted an update 
                div(class='date')
                  a(href='#') 4 years, 10 months ago
                p To love oneself is the beginning of a lifelong romance (Oscar Wilde)
            div(class='latest-activity-button')
              a(href='#' class='more') Load More
        div(class='latest-posts')
          div(class='title')
            h3 Latest Posts
          div(class='latest-posts-boxs')
            div(class='latest-posts-box')
              div(class='latest-posts-box-image')
                img(src='images/latest-posts-1.jpg' alt='Latest Posts Image')
              div(class='latest-posts-box-text')
                a(href='#' class='latest-posts-link') Phosfluorescently procrastinate standards
                p Dramatically pursue innovative services before out-of-the-box metrics. Professionally seize web-enabled services before distinctive internal or “organic” sources. Dynamically deliver clien... #[a(href='#') #[i(class='fas fa-angle-double-right')]]
            div(class='latest-posts-box')
              div(class='latest-posts-box-image')
                img(src='images/latest-posts-2.jpg' alt='Latest Posts Image')
              div(class='latest-posts-box-text')
                a(href='#' class='latest-posts-link') Dynamically provide access to interoperable
                p Proactively foster superior growth strategies and adaptive users. Conveniently deploy timely strategic theme areas vis-a-vis B2B scenarios. Progressively cultivate viral partnerships after state of th... #[a(href='#') #[i(class='fas fa-angle-double-right')]]
            div(class='latest-posts-box')
              div(class='latest-posts-box-image')
                img(src='images/latest-posts-3.jpg' alt='Latest Posts Image')
              div(class='latest-posts-box-text')
                a(href='#' class='latest-posts-link') Uniquely promote resource-leveling platforms
                p Proactively foster superior growth strategies and adaptive users. Conveniently deploy timely strategic theme areas vis-a-vis B2B scenarios. Progressively cultivate viral partnerships after state of th... #[a(href='#') #[i(class='fas fa-angle-double-right')]]
            div(class='latest-posts-pages')
              div(class='latest-posts-page')
                span 1
              div(class='latest-posts-page')
                a(href='#') 2
              div(class='latest-posts-page')
                a(href='#') #[i(class='fas fa-chevron-right')]
        div(class='features')
          div(class='title')
            h3 The Features
          div(class='features-boxs')
            div(class='features-box')
              div(class='features-box-image')
                img(src='images/features-1.jpg' alt='Features Image')
              div(class='features-box-text')
                a(href='#') Professionally pursue world-class applications
            div(class='features-box')
              div(class='features-box-image')
                img(src='images/features-2.jpg' alt='Features Image')
              div(class='features-box-text')
                a(href='#') Holisticly evolve highly efficient
            div(class='features-box')
              div(class='features-box-image')
                img(src='images/features-3.jpg' alt='Features Image')
              div(class='features-box-text')
                a(href='#') Professionally drive ubiquitous technology
            div(class='features-box')
              div(class='features-box-image')
                img(src='images/features-4.jpg' alt='Features Image')
              div(class='features-box-text')
                a(href='#') Uniquely promote resource-leveling platforms
      div(class='buddy-second-box')   
        div(class='search')
          div(class='search-box')
            form(class='search-box-form')
              input(type='text' class='input-search' placeholder='Search')
              a(href='#' class='blue-button') Search
        div(class='members')
          div(class='title-white')
            h3 Members
          div(class='members-buttons')
            a(href='#' class='green-button') Newest
            a(href='#' class='green-button') Active
            a(href='#' class='green-button active') Popular
          div(class='members-boxs')
            div(class='members-box')
              div(class='members-box-image')
                img(src='images/members-1.jpg' alt='Members Image')
              div(class='members-box-text')
                a(href='#') Renee Gomez
                span 14 friends
            div(class='members-box')
              div(class='members-box-image')
                img(src='images/members-2.jpg' alt='Members Image')
              div(class='members-box-text')
                a(href='#') MaliVai Washington
                span 10 friends
            div(class='members-box')
              div(class='members-box-image')
                img(src='images/members-3.jpg' alt='Members Image')
              div(class='members-box-text')
                a(href='#') Dan
                span 9 friends
            div(class='members-box')
              div(class='members-box-image')
                img(src='images/members-4.jpg' alt='Members Image')
              div(class='members-box-text')
                a(href='#') Chynna Phillips
                span 9 friends
            div(class='members-box')
              div(class='members-box-image')
                img(src='images/members-5.jpg' alt='Members Image')
              div(class='members-box-text')
                a(href='#') Justin Duchscherer
                span 9 friends
        div(class='groups')
          div(class='title-white')
            h3 Groups
          div(class='groups-buttons')
            a(href='#' class='green-button') Newest
            a(href='#' class='green-button active') Active
            a(href='#' class='green-button') Popular
            a(href='#' class='green-button') Alphabetical
          div(class='groups-boxs')
            div(class='groups-box')
              div(class='groups-box-image')
                img(src='images/groups-1.jpg' alt='Groups Image')
              div(class='groups-box-text')
                a(href='#') The Tourist
                span active 3 years, 12 months ago
            div(class='groups-box')
              div(class='groups-box-image')
                img(src='images/groups-2.jpg' alt='Groups Image')
              div(class='groups-box-text')
                a(href='#') The Social Network
                span active 3 years, 12 months ago
            div(class='groups-box')
              div(class='groups-box-image')
                img(src='images/groups-3.jpg' alt='Groups Image')
              div(class='groups-box-text')
                a(href='#') Monsters, Inc.
                span active 4 years, 10 months ago
            div(class='groups-box')
              div(class='groups-box-image')
                img(src='images/groups-4.jpg' alt='Groups Image')
              div(class='groups-box-text')
                a(href='#') Elizabethan
                span active 4 years, 10 months ago
        div(class='active-members')
          div(class='title-white')
            h3 Recently Active Members
          div(class='active-members-boxs')
            div(class='active-members-box')
              img(src='images/active-members-1.jpg' alt='Active Members Image')
            div(class='active-members-box')
              img(src='images/active-members-2.jpg' alt='Active Members Image')
            div(class='active-members-box')
              img(src='images/active-members-3.jpg' alt='Active Members Image')
            div(class='active-members-box')
              img(src='images/active-members-4.jpg' alt='Active Members Image')
            div(class='active-members-box')
              img(src='images/active-members-5.jpg' alt='Active Members Image')
            div(class='active-members-box')
              img(src='images/active-members-6.jpg' alt='Active Members Image')
            div(class='active-members-box')
              img(src='images/active-members-7.jpg' alt='Active Members Image')
            div(class='active-members-box')
              img(src='images/active-members-8.jpg' alt='Active Members Image')
            div(class='active-members-box')
              img(src='images/active-members-9.jpg' alt='Active Members Image')
            div(class='active-members-box')
              img(src='images/active-members-10.jpg' alt='Active Members Image')
            div(class='active-members-box')
              img(src='images/active-members-11.jpg' alt='Active Members Image')
            div(class='active-members-box')
              img(src='images/active-members-12.jpg' alt='Active Members Image')
            div(class='active-members-box')
              img(src='images/active-members-13.jpg' alt='Active Members Image')
            div(class='active-members-box')
              img(src='images/active-members-14.jpg' alt='Active Members Image')
            div(class='active-members-box')
              img(src='images/active-members-15.jpg' alt='Active Members Image')
        div(class='schedule')
          div(class='title-white')
            h3 The Schedule
          div(class='schedule-table')
            table
              caption October 2020
              thead
                tr
                  th(class='day' title='Monday') M
                  th(class='day' title='Tuesday') T
                  th(class='day' title='Wednesday') W
                  th(class='day' title='Thursday') T
                  th(class='day' title='Friday') F
                  th(class='day' title='Saturday') S
                  th(class='day' title='Sunday') S
              tbody
                tr
                  td(class='past') 28
                  td(class='past') 29
                  td(class='past') 30
                  td 1
                  td 2
                  td 3
                  td 4
                tr
                  td 5
                  td 6
                  td 7
                  td 8
                  td 9
                  td 10
                  td 11
                tr
                  td 12
                  td 13
                  td 14
                  td 15
                  td 16
                  td 17
                  td 18
                tr
                  td 19
                  td 20
                  td 21
                  td 22
                  td 23
                  td 24
                  td 25
                tr
                  td 26
                  td 27
                  td 28
                  td 29
                  td 30
                  td 31
                  td(class='next') 1
            div(class='schedule-link')
              a(href='#') #[i(class='fas fa-angle-double-left')] Nov
      div(class='buddy-third-box')
        div(class='sign-in')
          div(class='title-white')
            h3 Sign In
          div(class='sign-in-box')
            form(class='sign-in-form')
              input(type='text' class='username' placeholder='Username Or Email')
              input(type='password' class='password' placeholder='Password')
              input(type='checkbox' class='remember' name='remember' checked='checked')
              label(for='remember' class='remember-lable') Remember Me
              a(href='#' class='blue-button') Sign In
              a(href='#' class='lost-password') #[i(class='fas fa-question-circle')] Lost Password
        div(class='statistics')
          div(class='title-white')
            h3 Statistics
          div(class='statistics-boxs')
            div(class='statistics-box')
              div(class='statistics-box-icon')
                i(class='fas fa-pencil-alt')
                span Posts
              div(class='statistics-box-number')
                span 6
            div(class='statistics-box')
              div(class='statistics-box-icon')
                i(class='far fa-comments')
                span Comments
              div(class='statistics-box-number')
                span 8
            div(class='statistics-box')
              div(class='statistics-box-icon')
                i(class='fas fa-comments')
                span Activity
              div(class='statistics-box-number')
                span 76
            div(class='statistics-box')
              div(class='statistics-box-icon')
                i(class='fas fa-user')
                span Members
              div(class='statistics-box-number')
                span 31
            div(class='statistics-box')
              div(class='statistics-box-icon')
                i(class='fas fa-users')
                span Groups
              div(class='statistics-box-number')
                span 6
            div(class='statistics-box')
              div(class='statistics-box-icon')
                i(class='fas fa-comment')
                span Forums
              div(class='statistics-box-number')
                span 7
            div(class='statistics-box')
              div(class='statistics-box-icon')
                i(class='fas fa-comment')
                span Topics
              div(class='statistics-box-number')
                span 7
        div(class='online')
          div(class='title-white')
            h3 Who’s Online
          div(class='online-box')
            span There are no users currently online
        div(class='replies')
          div(class='title-white')
            h3 Recent Replies
          div(class='replies-boxs')
            div(class='replies-box')
              p 
                a(href='#') Uniquely pontificate standards compliant 
                span 4 years, 4 months ago
            div(class='replies-box')
              p 
                a(href='#') Quickly expedite holistic e-tailers 
                span 4 years, 10 months ago
            div(class='replies-box')
              p 
                a(href='#') Intrinsicly parallel task cross-platform 
                span 4 years, 10 months ago
        div(class='topics')
          div(class='title-white')
            h3 Recent Topics
          div(class='topics-boxs')
            div(class='topics-box')
              p 
                a(href='#') Uniquely pontificate standards compliant 
                span by 
                a(href='#') Michellie Jones
                span 4 years, 4 months ago
            div(class='topics-box')
              p 
                a(href='#') Quickly expedite holistic e-tailers 
                span by 
                a(href='#')  Justin Duchscherer
                span 4 years, 10 months ago
            div(class='topics-box')
              p 
                a(href='#') Dynamically conceptualize 
                span by 
                a(href='#')  Justin Duchscherer
                span 4 years, 10 months ago
section(class='go-to-top')
  a(href='#')
    i(class='fas fa-angle-up')
























// Finish Designing The Features Section