$light-gray:#f0f0ed;
$light-gray2:#f7f7f7;
$light-gray3:#fbfbfb;
$dark-gray:#767676;
$gray:#99a1b1;
$gray2:#999;
$gray3:#ccc;
$black:#33363c;
$dark-black:#26282d;
$white:#fff;
$green:#77af12;
$dark-green:#679710;
$blue:#2f9bc1;
$dark-blue:#2a8cae;
$dark-blue2:#6595AF;
$light-blue:#E4ECF1;
$pink:#C12F6C;
$red:#d73e3a;
$orange:#ff8b04;
